.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:5px;
    margin-top:2px;
    border-radius: 8px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: white;
    min-width: 200px;
    border-radius: 8px;
}
.dropdown-child a {
    color: blue;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

